* {
    font-family: 'Times New Roman', Times, serif;
font-size: 18px;
}

body {
    background-color: rgb(43, 43, 121);
}

img.lado {
    float: right;
}

main {
    background-color: rgb(186, 214, 214);
    width: 600px;
    margin: auto;
    padding: 12px;
    box-shadow: 5px 5p 5p 10p rgba(160, 143, 143, 0.281);
}